
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
 
	background-size: cover;
	background-position: center;
}

#myCanvas{
	background-color: white;
	border-style: ridge;
	border-width: 10px;

}
